@page "/game"
@page "/game/{GameID:int}" //how we navigate to this page when editing an existing game
@using Models
@inject NavigationManager NavigationManager
@inject GameClient GameClient

<PageTitle>@pageTitle</PageTitle>
<h1> Game Catalogue</h1>
<h3>@pageTitle</h3>

@if (game is null)
{
	<p><em>Loading...</em></p>
}
else 
{
	<div class="row"> 
		<div class="col-sm-4"> <!-- Read about this on bootstrap pg --> 
			<EditForm Model="@game" OnValidSubmit = "HandleSubmitAsync"> <!-- pass editable game class into HandleSubmit func --> 
			<DataAnnotationsValidator/> <!-- validates data annotations in game class required fields -->
			<ValidationSummary /> <!-- displays validation summary of whats invalid-->
					<div class="mb-3"> <!-- margin bottom 3 below --> 
						<label for="GameName" class="form-label">Game Name:</label>
						<InputText id="GameName" @bind-Value="@game.GameName" class="form-control"></InputText>
					</div>
					<div class="mb-3">
						<label for="Genre" class="form-label">Genre:</label>
						<InputSelect id="Genre" @bind-Value="@game.Genre" class="form-select">
							<option value=@string.Empty>Select Genre</option> <!-- default value -->
							<option>Action</option>
							<option>Adventure</option>
							<option>Horror</option>
							<option>Shooter</option>
							<option>Strategy</option>
							<option>Survival</option>
							<option>Platformer</option>
							<option>Hack and Slash</option>
						</InputSelect>
					</div>
					<div class="mb-3">
						<label for="Price" class="form-label">Price(USD):</label>
						<InputNumber id="Price" @bind-Value="@game.Price" class="form-control"></InputNumber>
					</div>
					<div class="mb-3">
						<label for="ReleaseDate" class="form-label">ReleaseDate:</label>
						<InputDate id="ReleaseDate" @bind-Value="@game.ReleaseDate" class="form-control"></InputDate>
					</div>
					<button type="submit" class="btn btn-primary">Save</button>
					<button type="button" class="btn btn-secondary" @onclick="NavigateBackToHomePage">Cancel</button>
			</EditForm>
		</div>
	</div>
}
@code {

	[Parameter]
	public int? GameID {get; set;}

	private Game? game ; // "the editable game for the user to fill out"
	
	private string pageTitle = string.Empty;

   protected override async Task OnParametersSetAsync() //invoked as soon as [Parameter]'s' are set from Razor
    {
      if(GameID is null) //if no game id, then we are creating a new game	
		{
			game = new () 
			{
				//Default starting values
				Id = 0, //has to be 0 to map to Entity Framework/SQL definition of default val, otherwise key wont add properly in DB
				GameName = string.Empty,
				Genre = string.Empty,
				ReleaseDate = DateTime.UtcNow,
			};
			pageTitle = "New Game";
		}
		else // Edit exising game
		{
			Game? foundGame = await GameClient.GetGameAsync(GameID.Value);
			if(foundGame is null) //if game doesnt exist
			{
				NavigationManager.NavigateTo("/game"); //back to creat new version of page
				return;
			}
			//Make a copy so not directly edited until submitted
			game = new()
			{
				Id = foundGame.Id,
				GameName = foundGame.GameName,
				Genre = foundGame.Genre,
				Price = foundGame.Price,
				ReleaseDate = foundGame.ReleaseDate,	
			};
			pageTitle = $"Edit {game.GameName}";
		}
    }

    

	private async Task HandleSubmitAsync()
	{
		if(game!.Id == 0) //! means wont be null (compiler)
		{
			await GameClient.AddGameAsync(game);
		}
		else	
		{
			await GameClient.UpdateGameAsync(game);
		}
		NavigateBackToHomePage();
	}
	private void NavigateBackToHomePage()
	{
		NavigationManager.NavigateTo("/"); //back to home page
	}
}

