@page "/"
@using Models
@inject NavigationManager NavigationManager
@inject GameClient GameClient



<PageTitle>Game Catalogue</PageTitle>

<div class="row mb-4">
	<div class="col-sm-6">
		<button type ="button" class="btn btn-primary" @onclick="CreateGame">Create New Game</button>
	</div>
	<div class="col">
		<input type="text" 
			class="form-control"
		 	placeholder="Search by Name / Genre" 
		 	@bind-value="searchString" 
		 	@bind-value:event="oninput" 
		 	@onkeyup="FetchGamesAsync"
		 />
	</div>
</div>

<h1>Game Catalogue</h1>
@if (games is null)
{
	<p><em>Loading...</em></p>
}
else
{
	<DeleteGame Game="@currentGame" OnClose="@OnDeleteModalClosedAsync">
		<!-- DeleteGame is a component defined in DeleteGame.razor 
		 not sure why we define in like this?
		 for ex: if DeleteGame.razor has a <h3> tag defined, it displays text above our table.
		-->
	</DeleteGame>


	<table class="table table-striped table-bordered table-hover">
		<thead class="table-dark">
			<th>Id</th>
			<th>Name</th>
			<th>Genre</th>
			<th>Price</th>
			<th>Release Date</th>
			<th></th>
		</thead>
		<tbody>
			<!-- C# section-->
			@foreach (var game in games)
			{
				<tr>
					<td>@game.Id</td><!-- @game is a C# variable exposed by at sign-->	
					<td>@game.GameName</td>
					<td>@game.Genre</td>
					<td>$@game.Price</td>
					<td>@game.ReleaseDate.ToString("MM/dd/yyyy")</td> 	
					<td>
						<button class="btn btn-primary"  @onclick="(() => EditGame(game.Id))">  <!-- I cant believe how gross Lamba syntax is inside of a string-->
							<i class="oi oi-pencil"></i>  	<!-- from css/open-iconinic folder : https://icon-sets.iconify.design/oi/-->
						</button>
						<button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" @onclick="(() => currentGame = game)"> <!-- "#deleteModal" toggles id="deleteModal" defined in DeleteGame.razor-->	
							<i class="oi oi-x"></i>  
						</button>
					</td>	
				</tr>
			}
		</tbody>
	</table>
}

<!-- Code section for C# If formatting is messing up from IDE, set "editor.formatOnSave": false, in settings.json-->
@code
{
	private Game[]? games; //Nullable array on construction
	private Game? currentGame;

	private string? searchString; //an optional filter to pass in to find games by name/genre that contain string

    protected override async Task OnInitializedAsync()
    {
		//when you await a task, it returns the .Result automatically as the specified Type aka Game[] (which is nullable)
     	await FetchGamesAsync();
    }

	 private void CreateGame()
	 {
		NavigationManager.NavigateTo("/game"); //defined at top of EditGame.razor @page
	 }

	 private void EditGame(int gameID)
	 {
		NavigationManager.NavigateTo($"/game/{gameID}"); //defined at top of EditGame.razor @page
	 }

	 private async Task OnDeleteModalClosedAsync(bool cond)
	 {
		if(cond)
		{
			await GameClient.DeleteGameAsync(currentGame!.Id);
			await FetchGamesAsync();
		}
	 }

	 private async Task FetchGamesAsync()
	 {
			games = await GameClient.GetGamesAsync(searchString);
	 }

}



